/* 
 Following Properties to consider :  
 overflow: hidden 
 float:left 
 display: block;

 1. overflow: hidden on the <ul> in your code is used to clear the floats of the <li> elements, ensuring the parent <ul> correctly wraps around them and doesn't collapse.
 2. With "display: block" css property within ul > li > a 
        The <a> tag fills the entire <li>, allowing padding to create space on all sides of the text and making it easier to click.
 */

:root {
        --half_black: hsl(0, 0%, 25%);
        --over_black: hsl(0, 0%, 10%);
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* border: 1px dashed greenyellow; */
}

h1 {
        text-align: center;
}

/* nav {} */

ul {
        list-style-type: none;
        background-color: var(--half_black);
        padding: 0;
        margin: 0;
        overflow: hidden;
        /* display: flex; */
        /* gap: 20px; */
}

ul li {
        float: left;
}

ul li a {
        text-decoration: none;
        color: white;
        padding: 15px;
        display: block;
        text-align: center;
}

ul li:hover {
        background-color: var(--over_black);
}

main {
        padding: 10px;
}