*{
	#margin: 0; 
	#padding: 0;
	#box-sizing: border-box;
	text-decoration: none;
}

nav {
	background : red;
	font-family : calibri;
	display: flex;
	padding: 15px;	
	justify-content: space-between;
	align-items: center;
	color: white;
}

#nav * {
#	border: 1px solid blue;
#}

.logo a {
	font-size: 35px;
	font-weight: 600;
	color: white;
	letter-spacing: 1px;
}

#ul {
#	display: flex;
#	gap: 20px;
#}

li {
	list-style: none;
	display: inline-block;
}

li a {
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-right: 25px;
}

li a:hover {
	background: tomato; 
}

.btn {
	background-color: black;
	margin-left: 10px;
	border-radius: 10px;
	padding: 10px;
}